
  body {  
  background-image: url(img4.jpg);
  font-size:23px;
    display:inline-flex;
    background-attachment: fixed;
    color:white;
    text-align: center;
  }
  #menu {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 300px;
  }
  #menu ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
  }
  #menu li {
     background-image: linear-gradient(to bottom, #3F51B5 0%, #00BCD4 100%);
     border-radius: 6px;
     margin-bottom:2px;
     box-shadow: 3px 3px 3px #151515ba;
  }
  #menu li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:0;
     background: rgb(0, 0, 0);
     margin:0
  }
  #menu a {
    display:block;
    text-decoration: none;
    padding: 8px 0;
    color: #fff;
    font-size: 20px;
  }
  #menu li:hover {
    background: #00BCD4;
  }
  #menu li:hover li {
    max-height: 250px;
  }
  div.container{
    background-color: #673ab7;
    padding: 12px;
    width: 311px;
    margin-left: 19px;
    margin-top: 26px;
    height: 673px;
    box-shadow: 0 0 20px 0 rgb(4 4 4 / 69%), 0 5px 5px 0 rgb(0 0 0 / 24%);
    border-radius: 13px;
    background: inherit;
    overflow: hidden;
  }
  div:before{
    width: 311px;
    height: 650px;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
    filter: blur(10px);
}